 <!-- Sign Up Form partial, this is to centralize the coding.
 		This partial is called at the Home page and in the Sign Up page -->
<div class="round sign-up">
<%= form_for(user_resource) do |f| %>
	<%= render 'shared/error_messages', :object => @user %>
	<span>New to Flitter?</span>
	<div class="form-field">
		<%= f.label :username %>
		<%= f.text_field :username, :class => "required" %>
	</div>
	<div class="form-field">
		<%= f.label :fullname %>
		<%= f.text_field :fullname, :class => "required" %>
	</div>
	<div class="form-field">
		<%= f.label :email %>
		<%= f.email_field :email, :class => "required" %>
	</div>
	<div class="form-field">
		<%= f.label :password %>
		<%= f.password_field :password, :class => "required" %>
	</div>
	<div class="form-field">
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, :class => "required" %>
	</div>
	<label>&nbsp;</label>
	<%= f.submit "Sign Up for new Flitter Account", :class => "check-required" %>
<% end %>
</div>