<h1>User Posts</h1>
<div class="round microposts">
	<div class="profile-pic-container"><%= profile_pic @user %></div>
  	<div class="profile-main-info">
		<h1><%= @user.username %></h1>
		<% if signed_in? %>
			<!-- <h4>Hey <%= @user.username %>, what's up? -->
			<%= render 'shared/micropost_form' %>
		<% end %>
	</div>
<ul>
	<% @feed_item.each do |feed_item| %>
		<li>
			<%= link_pic_to_user feed_item.user %>
			<strong><%= link_to_user feed_item.user %> </strong><br />
			<span class="content"><%= feed_item.content %></span>
			<br />
			<span class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
		</li>		
	<% end %>
</ul>
</div>